@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FormList2.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FormList2.Web.styles.css" asp-append-version="true" />
    <style>
        html {
            background: #cc3367;
        }

        body {
            background: #cc3367;
        }

        .my-div {
            background: #cc3367;
        }
    </style>

</head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="color: white; font-weight: bold;">CLİCK TO "FORMS"</h1>
        <p>
            My Github link

            <a href="https://github.com/nurgulsoymaz?tab=repositories">
                Click for my "GİTHub"
            </a>.
        </p>
    </div>
</body>
</html>
